<%- include('include/header'); %>
<% var email_config = Config('application').email %>

    <!-- header tr td strat -->
    <tr>
        <td style="height:auto; border-top-left-radius:5px; border-top-right-radius:5px; line-height: 0;">
            <img src="<%= email_config.url %>images/default_banner.png" alt="" style="border-top-left-radius:5px; border-top-right-radius:5px; width:640px;"
            />
        </td>
    </tr>
    <!-- header tr td strat -->
 
    <!-- body content start -->
    <tr>
        <td style="background: #fff; line-height: 0; padding:10px 30px 30px 30px;">
            <p style="text-align: center;">
                <img src="<%= email_config.logo %>" alt="" />
            </p>  
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                This letter will notify as a
                <%if (userType === 'admin') { %>
                    Admin
                <% } %>
                <%if (userType === 'vendor') { %>
                    <%= data.user.profile.full_name %>
                <% } %> 
                has removed the product on SuccessLife Marketplace.
            </p>          
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                Here is the detail of the Removed Product, the Product titled,
                <%= data.title %> and the date of submission was  <%= moment( data.created_on ).format('DD-MM-YYYY') %>.
            </p>          
            
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">Regards,<br><%= Config('app').name %></p>
        </td>
    </tr>
    <!-- body content end -->


    <%- include('include/footer'); %>