<%- include('include/header'); %>
<% var email_config = Config('application').email %>

    <!-- header tr td strat -->
    <tr>
        <td style="height:auto; border-top-left-radius:5px; border-top-right-radius:5px; line-height: 0;">
            <img src="<%= email_config.url %>images/default_banner.png" alt="" style="border-top-left-radius:5px; border-top-right-radius:5px; width:640px;"
            />
        </td>
    </tr>
    <!-- header tr td strat -->
 
    <!-- body content start -->
    <tr>
        <td style="background: #fff; line-height: 0; padding:10px 30px 30px 30px;">
            <p style="text-align: center;">
                <img src="<%= email_config.logo %>" alt="" />
            </p>  
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                Hi <%= uname %>,
             </p>          
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                We received a request to reset your SuccessLife password.
            </p> 
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                Please click the below button to change your password.
            </p>  
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">
                This Link is valid for only 24 hours. After the time limit has expired, you will
                have to resubmit the request for a password reset.
            </p>         
            <p>
                <a href="<%= token_link %>" class="button button-blue" target="_blank" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; border-radius: 3px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16); color: #FFF; display: inline-block; text-decoration: none; -webkit-text-size-adjust: none; background-color: #3097D1; border-top: 10px solid #3097D1; border-right: 18px solid #3097D1; border-bottom: 10px solid #3097D1; border-left: 18px solid #3097D1;     padding: 10px;">Reset Password
                </a>
            </p>            
            
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787E; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;">Regards,<br><%= Config('app').name %></p>
        </td>
    </tr>
    <!-- body content end -->


    <%- include('include/footer'); %>